$colors: (
    common: (
        white: #ffffff,
        black: #0C1939,
        black-2: #0F1333,
        black-3: #10192F,
        black-4: #05092B,
        black-5: #191C3C,
        black-6: #102453,
        black-7: #0f1333,
        green: #3CB86C,
        green-2: #0BBF5E,
        orange: #FF6838,
        red: #FF485D,
        purple: #914EFF,
        yellow: #FFA153,
        yellow-2: #FEDA03,
        pink: #FE5E78,
    ),
    heading: (
        primary: #0C1939,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,

    ),
    text: (
        body:#565D6D,
        1:#565D6D,
        2:#A8B0C3,
        3:#8D95A8,
        4:#818395,
        5:#C1C8DB,
        6:#A1A3B2,
        7:#8991A5,
        8:#757D93,
        9:#BEC4D2,
        10:#727694,
        11:#A5A7B6,
        12:#949CAE,
        13:#999EAA,
        14:#8D8D8D,
    ),
    theme: (
        1: #3771FE,
        2: #007BFF,
        
        dark: #05092B,
        dark-2: #05092B,
        white: #fff,
    ),
    border: (
        1: #191B1D,
        2: #121636,
        3: #dedede,
        4: #2D314B,
    )
);


// prev dark color code 0F1333